:root {
  --color-principal: #2F6F4E;
  --color-secundario: #777;
  --color-fondo: #fff;
  --color-boton: #2F6F4E;
  --color-boton-hover: #3b8b62;
  --color-boton-texto: #fff;

  --fuente: 'Inter', sans-serif;
}
